body {
    font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco", "Roboto", "Almarai", "Helvetica Neue", "sans-serif";
    color: #222;
}

a {
    color: #222;
    text-decoration: none;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.red {
    color: red;
}

a:hover {
    color: var(--primaryColor);
}

.link {
    color: var(--primaryColor);
    cursor: pointer;
}

.link:hover {
    color: var(--secondaryColor);
}

.sign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

.sign>* {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.sign .sign-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
}

.sign .sign-header .logo img {
    height: 35px;
}

.sign .sign-header .sign-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sign .sign-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.login-with {
    margin-top: 1rem;
}

.sign .sign-body .login-with>* {
    margin-bottom: 1rem;
}

.sign .sign-body .login-with .login-with-divider {
    position: relative;
    text-align: center;
}

.sign .sign-body .login-with .login-with-divider::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 2px;
    background-color: #eee;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sign .sign-body .login-with .login-with-divider span {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #fff;
    color: #777;
}

.sign .sign-body .sign-form {
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
}

.sign .sign-body .sign-form .sign-form-header {
    margin-bottom: 1rem;
}

.sign .sign-body .sign-form .sign-form-text {
    margin-bottom: 0;
    color: #555;
    font-size: 16px;
}

.sign .sign-body .sign-form.sign-form-lg {
    max-width: 600px;
}

.sign .sign-body .sign-form .form-label {
    font-weight: 500;
}

.sign .sign-body .sign-form a {
    font-weight: 500;
}

@media (max-width: 991.98px) {
    .language {
        margin-top: 5px;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 16px;
    }
}

.language:not(:last-child) {
    margin-right: 15px;
}

.language button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    border: 0;
    outline: 0;
    color: #FFF;
}

@media (max-width: 991.98px) {
    .language button {
        color: #444;
        padding: 0;
        width: 100%;
    }
}

.language button .language-icon {
    margin-right: 0.5rem;
}

.language button .language-arrow {
    margin-left: 10px;
}

.language.language-light button {
    color: #FFF;
}

.language.language-dark button {
    color: #222;
}

.language .dropdown-menu {
    padding: 0;
    border: 0;
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), 0px -4px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), 0px -4px 15px rgba(0, 0, 0, 0.05);
    inset: 45px auto auto auto !important;
    right: 50% !important;
    -webkit-transform: translate(47%, 0px) !important;
    -ms-transform: translate(47%, 0px) !important;
    transform: translate(47%, 0px) !important;
}

@media (max-width: 991.98px) {
    .language .dropdown-menu {
        width: 100%;
        top: 35px !important;
    }
}

.language .dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
}

.language .dropdown-menu li:first-child .dropdown-item {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.language .dropdown-menu li:last-child .dropdown-item {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.language .dropdown-menu .dropdown-item {
    color: #222;
    padding: 12px 18px;
}

.language .dropdown-menu .dropdown-item:focus,
.language .dropdown-menu .dropdown-item:active,
.language .dropdown-menu .dropdown-item.active {
    background-color: transparent;
    color: var(--primaryColor);
    opacity: 1;
}

.dropdown.language .dropdown-menu .dropdown-item:hover {
    background-color: var(--primaryColor);
    color: #fff;
}

.btn {
    border-radius: 8px;
    padding: 11px 30px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.btn.btn-md {
    padding: 8px 25px;
}

.btn.btn-primary {
    background-color: var(--primaryColor) !important;
    border-color: var(--primaryColor);
    color: #FFF !important;
}

.btn.btn-primary:hover {
    opacity: .8;
}

.btn.btn-secondary {
    border: 1px solid #dde5ec;
    background-color: #fff !important;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
    color: #222;
}

.btn.btn-secondary:hover {
    opacity: .8;
}

.btn.btn-outline-primary {
    border-color: var(--primaryColor) !important;
    color: var(--primaryColor) !important;
}

.btn.btn-outline-primary:hover {
    background-color: var(--primaryColor) !important;
    color: #FFF !important;
}

.btn.btn-white {
    background-color: #fff !important;
    color: var(--primaryColor) !important;
}

.btn.btn-white:hover {
    opacity: .8;
}

.btn.btn-outline-white {
    border-color: #fff !important;
}

.btn.btn-outline-white:hover {
    background-color: #fff !important;
    color: var(--primaryColor) !important;
}

.btn.btn-dark {
    background-color: #222;
    border: none;
}

.btn.btn-dark::before {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    background-color: #333 !important;
}

.btn.btn-facebook {
    background-color: #1778F2;
    color: #FFF;
    font-weight: normal !important;
}

.btn.btn-facebook:hover {
    color: #FFF;
    opacity: .8;
}

.btn.btn-github {
    background-color: #333;
    color: #FFF;
    border-radius: 8px;
    text-align: start;
    padding: 10px 12px;
    font-size: 18px;
}

.btn.btn-github:hover {
    color: #FFF;
    opacity: .8;
}

.btn.btn-light {
    background-color: #dfdfdf;
}

.btn.btn-light:hover {
    background-color: #ccc;
}

.btn:active,
.btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: 5px 20px;
    font-size: .875rem;
    font-weight: 400 !important;
}

.btn-group-lg>.btn,
.btn-lg {
    font-size: 17px;
    padding: 12px 30px;
}

.btn-group-xl>.btn,
.btn-xl {
    padding: .8rem 3rem;
}

.btn-close {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.btn-close:active,
.btn-close:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-close-lg {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.form-control:focus,
.form-select:focus {
    border-color: var(--primaryColor);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:-moz-read-only,
.form-select:-moz-read-only {
    background-color: #fff;
}

.form-control:read-only,
.form-select:read-only {
    background-color: #fff;
}

.form-select-lg,
.form-control-lg {
    height: 50px !important;
    font-size: 15px;
}

.form-select-md,
.form-control-md {
    height: 40px !important;
    font-size: 15px;
}

.form-check .form-check-input:not(:checked):focus {
    border-color: var(--primaryColor);
}

.form-check-input:checked {
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
}

.form-check-input:focus,
.form-check-input:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-switch.custom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
}

.form-switch.custom .form-check-input {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-left: 0;
}

.form-switch.custom .form-check-input:checked+.form-control,
.form-switch.custom .form-check-input:checked+.form-select {
    display: block;
}

.form-switch.custom .form-check-label {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.form-switch.custom .form-control,
.form-switch.custom .form-select {
    display: none;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.form-switch .form-check-input:not(:checked):focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    border-color: var(--primaryColor);
}

.form-switch.form-switch-lg .form-check-input {
    margin-top: 0;
    margin-right: 10px;
    width: 3em;
    height: 1.5em;
}

.form-floating>.form-control,
.form-floating .form-select {
    height: 50px;
    background-color: #fff;
    padding: .375rem .75rem .375rem .75rem !important;
}

.form-floating>.form-control:focus,
.form-floating .form-select:focus {
    border-color: var(--primaryColor);
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-floating>.form-control:focus~label,
.form-floating .form-select:focus~label {
    opacity: 1;
    -webkit-transform: scale(0.85) translateY(-0.8rem) translateX(0.1rem);
    -ms-transform: scale(0.85) translateY(-0.8rem) translateX(0.1rem);
    transform: scale(0.85) translateY(-0.8rem) translateX(0.1rem);
    background-color: #fff;
    color: #999;
}

.form-floating>.form-control:not(:-moz-placeholder-shown)~label,
.form-floating .form-select:not(:-moz-placeholder-shown)~label {
    opacity: 1;
    transform: scale(0.85) translateY(-0.8rem) translateX(0.1rem);
    background-color: #fff;
    color: #999;
}

.form-floating>.form-control:not(:-ms-input-placeholder)~label,
.form-floating .form-select:not(:-ms-input-placeholder)~label {
    opacity: 1;
    -ms-transform: scale(0.85) translateY(-0.8rem) translateX(0.1rem);
    transform: scale(0.85) translateY(-0.8rem) translateX(0.1rem);
    background-color: #fff;
    color: #999;
}

.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating .form-select:not(:placeholder-shown)~label {
    opacity: 1;
    -webkit-transform: scale(0.85) translateY(-0.8rem) translateX(0.1rem);
    -ms-transform: scale(0.85) translateY(-0.8rem) translateX(0.1rem);
    transform: scale(0.85) translateY(-0.8rem) translateX(0.1rem);
    background-color: #fff;
    color: #999;
}

.form-floating .form-label {
    top: 4px;
}

.form-floating>.form-control:focus~label,
.form-floating .form-select:focus~.form-label .form-floating.v3 {
    top: 0;
}

.form-floating>label {
    padding: 0 .1rem;
    -webkit-transform: translateY(0.55rem);
    -ms-transform: translateY(0.55rem);
    transform: translateY(0.55rem);
    margin-left: .6rem;
    height: auto;
    color: #636363;
}

.input-group .form-control {
    height: auto;
}

.input-group.custom {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group.custom .form-control {
    border-left: none;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    border-radius: 0 5px 5px 0 !important;
    padding-left: 0;
}

.input-group.custom .form-control:focus+.input-group-text {
    border-color: var(--primaryColor);
}

.input-group.custom .input-group-text {
    background: #fff;
    border-color: #ced4da;
    border-right: none;
    border-radius: 5px 0 0 5px !important;
    padding-right: 0;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.input-group.custom-right {
    position: relative;
}

.input-group.custom-right .form-control {
    border-radius: 5px 0 0 5px !important;
    border-right: 0;
    padding-right: 0;
}

.input-group.custom-right .form-control:focus+.input-group-text {
    border-color: var(--primaryColor);
}

.input-group.custom-right .input-group-text {
    background: #fff;
    border-color: #ced4da;
    border-left: 0;
    border-radius: 0 5px 5px 0 !important;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.input-group .btn {
    border-radius: 0 0.25rem 0.25rem 0;
}

.form-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form-phone .form-select {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.form-phone .form-select:focus {
    border-color: #ced4da;
}

.form-phone .form-control {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 0;
    width: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-control,
.form-select {
    font-size: 17px;
    border-radius: 8px;
}

.form-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-group .form-control {
    padding-right: 60px;
}

.form-group button {
    position: absolute;
    outline: 0;
    border: 0;
    right: 12px;
    background: transparent;
    color: #777;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.form-group button:hover {
    opacity: 0.8;
}

.user-plans .user-plans-header i {
    font-size: 30px;
    margin-bottom: 1rem;
    color: var(--primaryColor);
}

.plans .plans-item {
    display: none;
}

.plans .plans-item.active {
    display: block;
}

.plans .plan {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 35px 25px;
    border-radius: 6px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    height: 100%;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}

.plans .plan .plan-badge {
    position: absolute;
    top: 15px;
    right: -115px;
    background-color: var(--primaryColor);
    width: 300px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.plans .plan.plan-featured {
    border: 2px solid var(--primaryColor);
    overflow: hidden;
}

.plans .plan.plan-featured .plan-badge {
    font-size: 14px;
}

.plans .plan.current-plan {
    border: 2px solid var(--secondaryColor);
    overflow: hidden;
}

.plans .plan.current-plan .btn-primary {
    background-color: var(--secondaryColor) !important;
    border-color: var(--secondaryColor);
}

.plans .plan.current-plan .plan-badge {
    background-color: var(--secondaryColor);
    font-size: 14px;
}

.plans .plan.plan-sale {
    border: 2px solid #dc3545;
    overflow: hidden;
}

.plans .plan.plan-sale .plan-badge {
    background-color: #dc3545;
    text-transform: uppercase;
}

.plans .plan .plan-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
}

.plans .plan .plan-text {
    margin: 10px 0px;
    font-size: 13px;
}

.plans .plan .plan-price-content {
    margin: 10px 0px;
    color: var(--primaryColor);
}

.plans .plan .plan-price-content .plan-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

.plans .plan .plan-price-content .plan-price .plan-price-text {
    color: #333;
    font-size: 13px;
    font-weight: 600;
    opacity: .6;
}

.plans .plan .plan-price-content .plan-price .plan-price-discount {
    color: #dc3545;
    text-decoration: line-through;
    margin-left: 10px;
}

.plans .plan .plan-features {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.plans .plan .plan-features .plan-feature-item {
    color: #888;
    margin: 8px 0;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.plans .plan .plan-features .plan-feature-item .plan-feature-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    color: var(--primaryColor);
    background-color: #f6f9fc;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
}

.plans .plan .plan-features .plan-feature-item .plan-feature-icon.icon-danger {
    color: #dc3545;
    background-color: rgb(221 52 68 / 5%);
}

.plans .plan .plan-features .plan-feature-item:not(:last-child) {
    margin-bottom: 0;
}

.plans .plan .plan-action {
    margin-top: 20px;
}

.plan-switcher {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    padding: 5px;
    background-color: #FFF;
    border: 1px solid var(--primaryColor);
    -webkit-box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    border-radius: 200px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.plan-switcher .plan-switcher-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    text-align: center;
    font-weight: 400;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    height: 35px;
    border-radius: 200px;
}

.plan-switcher .plan-switcher-item.active {
    background-color: var(--primaryColor);
    color: #fff;
}

.swal2-styled:focus {
    box-shadow: none !important;
}

.login-checkpoint .form-control {
    font-size: 23px;
}

.footer {
    border-top: 1px solid #e6e6e6;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer .footer-links .footer-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer .footer-links .footer-link a {
    font-weight: 500;
}

.footer .footer-links .footer-link:not(:last-child) a {
    margin-right: 5px;
}

.footer .footer-links .footer-link:not(:last-child)::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: var(--primaryColor);
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
}