:root {
    --primaryColor: #0045AD;
    --secondaryColor: #002369;
}

body {
    font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco", "Segoe UI", "Roboto", "Helvetica Neue", "sans-serif";
    background-color: #fbfbfb;
    font-size: 18px;
}

a {
    color: var(--primaryColor);
    text-decoration: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

a:hover {
    color: var(--secondaryColor);
}

pre {
    padding: 15px;
}

.custom-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--primaryColor);
    min-height: 100vh;
}

.bg-primary {
    background: var(--primaryColor) !important;
}

.line {
    height: 5px;
    background: #dedede;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.text-muted {
    color: #999 !important;
}

.btn {
    border-radius: 200px;
    padding: 8px 40px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.btn.btn-primary {
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
}

.btn.btn-light {
    color: var(--primaryColor);
}

.btn:hover {
    opacity: 0.9;
}


/* .vironeer__header .vironeer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    min-height: 650px;
    background: var(--primaryColor) url(../assets/img/bg.svg) center top;
    background-size: 20% 50%;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 320px;
    overflow: hidden;
} */

@media (max-width: 1199.98px) {
    .vironeer__header .vironeer__wrapper {
        min-height: 500px;
        padding-bottom: 260px;
    }
}

@media (max-width: 767.98px) {
    .vironeer__header .vironeer__wrapper {
        min-height: 450px;
        padding-bottom: 180px;
    }
}

.vironeer__header .vironeer__wrapper .vironeer__wrapper__content {
    position: relative;
    height: 100%;
    width: 100%;
    color: #FFF;
}

.vironeer__header .vironeer__wrapper .vironeer__wrapper__content .vironeer__wrapper__title {
    font-size: 35px;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.vironeer__header .vironeer__wrapper .vironeer__wrapper__content .vironeer__wrapper__text {
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    font-size: 18px;
}

@media (min-width: 992px) {
    .vironeer__header .vironeer__wrapper .vironeer__wrapper__content .vironeer__wrapper__text {
        width: 45%;
    }
}

.vironeer__header .vironeer__wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fbfbfb;
    height: 266px;
    width: calc((100% - 1920px)/2 - 45px);
}

.vironeer__header .vironeer__wrapper::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #fbfbfb;
    height: 358px;
    width: calc((100% - 1920px)/2 - 50px);
}


/* .vironeer__header .vironeer__wrapper .vironeer__wrapper__wave {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    max-height: 450px;
    background: url(../assets/img/wave.svg) no-repeat;
    background-position: bottom center;
    margin-bottom: -2px;
} */

.vironeer__navbar {
    height: 75px;
    background-color: var(--secondaryColor);
}

.vironeer__navbar .vironeer__navbar__actions {
    margin-left: auto;
}

.vironeer__logo {
    display: flex;
}

.vironeer__logo img {
    height: 35px;
}

@media (max-width: 449.98px) {
    .vironeer__logo img {
        width: 32vw;
        height: auto;
    }
}

.vironeer__cates__index {
    position: relative;
    margin-top: -320px;
    padding-top: 80px;
    padding-bottom: 80px;
}

@media (max-width: 1199.98px) {
    .vironeer__cates__index {
        margin-top: -240px;
    }
}

@media (max-width: 767.98px) {
    .vironeer__cates__index {
        margin-top: -180px;
    }
}

.vironeer__cates__index .vironeer__cate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 40px 30px;
    background-color: #FFF;
    -webkit-box-shadow: 1px 6px 12px rgba(24, 25, 30, 0.06);
    box-shadow: 1px 6px 12px rgba(24, 25, 30, 0.06);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border-radius: 10px;
}

.vironeer__cates__index .vironeer__cate img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.vironeer__cates__index .vironeer__cate .vironeer__cate__title {
    font-size: 22px;
    font-weight: 500;
    color: var(--primaryColor);
    margin-bottom: 0;
}

.vironeer__cates__index .vironeer__cate:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0 10px 24px 5px #0f04041a;
    box-shadow: 0 10px 24px 5px #0f04041a;
}

.vironeer__footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #222;
}

.vironeer__footer .vironeer__footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.vironeer__footer .vironeer__footer__links .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-size: 15px;
    color: #FFF;
}

.vironeer__footer .vironeer__footer__links .link:not(:last-child) {
    padding-right: 20px;
    margin-right: 15px;
}

.vironeer__footer .vironeer__footer__links .link:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 5px;
    height: 5px;
    background-color: #999;
    border-radius: 50%;
}

.vironeer__footer .vironeer__footer__links .link:hover {
    color: #999;
}

.vironeer__docs .vironeer__docs__navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70px;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-shadow: 0 1px 0 0 rgba(19, 28, 40, 0.08);
    box-shadow: 0 1px 0 0 rgba(19, 28, 40, 0.08);
    background-color: var(--primaryColor);
    z-index: 1000;
}

@media (max-width: 991.98px) {
    .vironeer__docs .vironeer__docs__navbar {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.vironeer__docs .vironeer__docs__navbar .vironeer__menu__toggle {
    display: none;
    cursor: pointer;
    margin-right: 20px;
}

@media (max-width: 991.98px) {
    .vironeer__docs .vironeer__docs__navbar .vironeer__menu__toggle {
        display: block;
    }
}

.vironeer__docs .vironeer__docs__navbar .vironeer__menu__toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #f0f0f0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.vironeer__docs .vironeer__docs__navbar .vironeer__menu__toggle span:not(:last-child) {
    margin-bottom: 5px;
}

.vironeer__docs .vironeer__docs__navbar .vironeer__menu__toggle.active span:first-child {
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
}

.vironeer__docs .vironeer__docs__navbar .vironeer__menu__toggle.active span:nth-child(2) {
    opacity: 0;
}

.vironeer__docs .vironeer__docs__navbar .vironeer__menu__toggle.active span:nth-child(3) {
    -webkit-transform: translateY(-6px) rotate(-45deg);
    -ms-transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
}

.vironeer__docs .vironeer__docs__container {
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.vironeer__docs .vironeer__docs__container .vironeer__docs__sidebar {
    position: sticky;
    top: 69px;
    width: 250px;
    height: calc(100vh - 69px);
    -webkit-box-shadow: 1px 0 0 0 rgba(19, 28, 40, 0.08);
    box-shadow: 1px 0 0 0 rgba(19, 28, 40, 0.08);
    background-color: #282F3D;
    z-index: 999;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow-y: auto;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.links-group {
    padding: 30px;
    border-bottom: 1px solid #0000001f;
}

.links-group:last-child {
    border-bottom: 0;
}

.links-group .title {
    color: #8fa7b2;
    font-weight: 500;
    font-size: .6875rem;
    line-height: .6875rem;
    text-transform: uppercase;
}

@media (max-width: 1399.98px) {
    .vironeer__docs .vironeer__docs__container .vironeer__docs__sidebar {
        width: 250px;
    }
}

@media (max-width: 991.98px) {
    .vironeer__docs .vironeer__docs__container .vironeer__docs__sidebar {
        visibility: hidden;
        height: 0;
        position: fixed;
        width: 100%;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
    }
    .vironeer__docs .vironeer__docs__container .vironeer__docs__sidebar.active {
        visibility: visible;
        height: calc(100vh - 70px);
        padding-top: 30px;
        padding-bottom: 30px;
        overflow-y: auto;
    }
}

.vironeer__docs .vironeer__docs__container .vironeer__docs__sidebar .link {
    display: block;
    font-weight: 500;
    color: #f0f0f0;
    font-size: 16px;
    cursor: pointer;
}

.vironeer__docs .vironeer__docs__container .vironeer__docs__sidebar .link:hover {
    color: #666;
}

.vironeer__docs .vironeer__docs__container .vironeer__docs__sidebar .link.active {
    text-decoration: underline;
}

.vironeer__docs .vironeer__docs__container .vironeer__docs__sidebar .link:not(:last-child) {
    margin-bottom: 15px;
}

.vironeer__docs .vironeer__docs__container .vironeer__docs__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 70px);
}

.vironeer__docs .vironeer__docs__container .vironeer__docs__content .vironeer__docs__articles {
    padding: 40px 60px;
}

.article-group {
    border: 2px solid #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 2rem;
}

@media (max-width: 1399.98px) {
    .vironeer__docs .vironeer__docs__container .vironeer__docs__content .vironeer__docs__articles {
        padding: 60px;
    }
}

@media (max-width: 991.98px) {
    .vironeer__docs .vironeer__docs__container .vironeer__docs__content .vironeer__docs__articles {
        padding: 40px 20px;
    }
}

.vironeer__docs .vironeer__docs__container .vironeer__docs__content .vironeer__docs__articles .vironeer__docs__article:not(:last-child) {
    margin-bottom: 40px;
}

.vironeer__docs .vironeer__docs__container .vironeer__docs__content .vironeer__docs__articles .vironeer__docs__article .vironeer__docs__article__text {
    font-weight: 400;
}

.vironeer__docs__article__title.mb-4 {
    background: var(--secondaryColor);
    padding: 15px;
    color: #fff;
    border-radius: 5px;
}

.vironeer__docs .vironeer__footer {
    padding: 20px 30px;
    background-color: #FFF;
    -webkit-box-shadow: 0 -1px 0 0 rgba(19, 28, 40, 0.08);
    box-shadow: 0 -1px 0 0 rgba(19, 28, 40, 0.08);
}

@media (max-width: 991.98px) {
    .vironeer__docs .vironeer__footer {
        padding: 20px;
    }
}

.vironeer__docs .vironeer__footer .vironeer__footer__links .link {
    color: #222;
}

.vironeer__docs .vironeer__footer .vironeer__footer__links .link:hover {
    color: #999;
}

.vironeer__code {
    position: relative;
}

.vironeer__code .vironeer__code__header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.vironeer__code .vironeer__code__header .vironeer__code__language {
    background-color: var(--primaryColor);
    padding: 2px 15px;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFF;
    user-select: none;
}

.vironeer__code .vironeer__code__header .vironeer__code__copy {
    display: block;
    border: 0;
    outline: 0;
    font-size: 16px;
    padding: 2px 10px;
}

.vironeer__code .vironeer__code__header .vironeer__code__copy:hover,
.vironeer__code .vironeer__code__header .vironeer__code__copy.copied {
    opacity: .8;
}